form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-section{
    width: 100%;
    justify-content: center;
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;

}

legend {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}



label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

input[type="text"],
input[type="date"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="radio"] {
    margin-right: 5px;
}

